* {
	margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
}
footer {
	width:100%;
	height: 250px;
    background-color: #e3e3e4;
    color: #1a1a1a;
    font-weight: bold;
}
footer > div {
	width: 90%;
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
}

footer .footer-content {
	float: left;
	padding : 70px;
}

footer .logo img {
    height: 30px;
    margin-bottom: 10px;
}

footer .footer-content p {
	margin: 0 0 5px 0;
}

footer .connect-with-us {
	float: right;
	width: 150px;
	padding : 70px;
}

footer .connect-with-us li {
   margin-top: 10px;
}
