* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
}
header {
    border-bottom: 1px solid #ddd;
}
header > div {
    width: 90%;
    min-width: 1000px;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
}
header .logo {
    float: left;
}
header .logo img {
    height: 60px;
    margin-top: 10px;
}
header .gnb {
    float: right;
}
header .gnb li {
    display: inline-block;
    margin-top: 28px;
    margin-left: 30px;
}
header .gnb li:first-child {
    margin-left: 0;
}